<h2 class="page-header">Recently Added</h2>

<% bookCoverClass = locals.large ? 'book-cover-large' : '' %>
<% bookGridClass = locals.large ? 'book-grid-large' : '' %>
<div class="book-grid <%= bookGridClass %>">
    <% books.forEach(book => { %>

    <div class="cover-author">

        <a href="/books/<%= book.id %>">
            <img class="book-cover <%= bookCoverClass %>" src="<%= book.coverImagePath %>">
            <div class="title-author">
                <span class="book-name book-name-index"><%= book.title %> </span>
                <a style="font-family: var(--lato); font-size: 1.2rem; font-weight: 500;"
                    href="/authors/<%= book.author.id %> " class="author-name"><%= book.author.name %> </a>
            </div>
        </a>
    </div>
    <% }) %>
</div>